@page "/dashboard/languages/resources/{LanguageId:int}"
@using Microsoft.AspNetCore.Mvc.Rendering;
@attribute [Authorize]
<PageTitle>Datasource | @T["Languages.Resources"]</PageTitle>
<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-none">
        <article class="prose xl:max-w-none">
            <h1>@T["Languages.Resources.Title"]</h1>
        </article>
    </div>
</div>
<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-none">
        @if (Loading || LocaleResources is null)
        {
            <div class="flex p-4 mb-4 text-sm text-info-800 border border-info-300 rounded-lg bg-info-50" role="alert">
                <svg class="animate-spin -ml-1 mr-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                <span class="sr-only">@T["Common.Loading"]</span>
                <div>
                    <span class="font-medium">@T["Common.Loading"]</span>
                </div>
            </div>
        }
        else
        {
            @if (EditSuccessState.Success)
            {
                <div class="flex p-4 mb-4 bg-success-200 border-t-4 border-success-500 text-sm font-medium text-success-700" role="alert">
                    <svg class="flex-shrink-0 w-5 h-5 text-success-700 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                    </svg>
                    <div class="ml-3 text-sm font-medium">
                        @EditSuccessState.SuccessMessage
                    </div>
                    <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-success-200 text-success-500 rounded-lg focus:ring-2 focus:ring-success-400 p-1.5 hover:bg-success-50 inline-flex h-8 w-8" aria-label="Close" @onclick="async() => { EditSuccessState.Success = false;}">
                        <span class="sr-only">Dismiss</span>
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            }
            @if (Error)
            {
                <div class="flex p-4 mb-4 bg-error-200 border-t-4 border-error-500 text-error-700" role="alert">
                    <svg class="flex-shrink-0 w-5 h-5 text-error-700 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                    </svg>
                    <div class="ml-3 text-sm font-medium">
                        @ErrorMessage
                    </div>
                    <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-error-200 text-error-500 rounded-lg focus:ring-2 focus:ring-error-400 p-1.5 hover:bg-error-50 inline-flex h-8 w-8" aria-label="Close" @onclick="async() => { Error = false;}">
                        <span class="sr-only">Dismiss</span>
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            }
            @if (Language is null && !Loading)
            {
                <div class="flex p-4 mb-4 bg-warning-200 border-t-4 border-warning-500 text-sm font-medium text-warning-700" role="alert">
                    <svg class="flex-shrink-0 w-5 h-5 text-warning-700 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                    </svg>
                    @T["Language.NotFound.Text"] @LanguageId
                </div>
            }
            @if (LocaleResources is not null)
            {
                @if (Language is not null)
                {
                    <div class="pointer-events-auto rounded-lg bg-white p-4 text-[0.8125rem] leading-5 shadow-xl shadow-black/5 hover:bg-secondary-50 ring-2 ring-primary-600 mb-4">
                        <div class="flex justify-between">
                            <div class="font-semibold text-secondary-900 divide-x-2 divide-secondary-400 grid grid-cols-2">
                                <div class="flex items-center px-4">
                                    <img src="@($"flags/{Language.FlagImageFileName}")" alt="@Language.Name" class="h-5 w-5 flex-shrink-0 rounded-full">
                                    <span class="ml-3 block leading-6">@Language.Name</span>
                                </div>
                                <div class="px-4 flex items-center gap-x-1.5">
                                    <div class="flex-none rounded-full @(Language.Published?"bg-success-500/20":"bg-error-500/20") p-1">
                                        <div class="h-1.5 w-1.5 rounded-full @(Language.Published?"bg-success-500":"bg-error-500")"></div>
                                    </div>
                                    <p class="leading-6">@T["Languages.Fields.Published"]</p>
                                </div>
                            </div>
                            <svg class="h-5 w-5 flex-none" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.707-9.293a1 1 0 0 0-1.414-1.414L9 10.586 7.707 9.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4Z" fill="#4F46E5"></path>
                            </svg>
                        </div>
                    </div>
                }
                <div class="bg-secondary-100 rounded-md p-6 shadow-sm mb-4">
                    <CreateResourceForm Busy="@Busy"
                                        LocaleResourceModel="@AddResourceString"
                                        IsAdd="true"
                                        ValidationResult="@(async (args) => await ResourceAddAsync(args.Success,args.ContinueEditing))" />
                </div>
                <div class="overflow-hidden bg-white border border-secondary-300 shadow sm:rounded-lg z-10">
                    <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                        <div class="w-full md:w-1/2">
                            <div class="flex items-center">
                                <label for="simple-name-search" class="sr-only">Search</label>
                                <div class="relative w-full">
                                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                        <svg aria-hidden="true" class="w-5 h-5 text-secondary-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                    <input type="text" id="simple-name-search" class="bg-secondary-100 border border-secondary-300 text-secondary-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2"
                                           placeholder="@T["Languages.Resources.SearchByName"]"
                                           required=""
                                           value="@SearchResourceName"
                                           @onchange="OnSearchResourceNameChanged">
                                </div>
                                <label for="simple-value-search" class="sr-only">Search</label>
                                <div class="relative w-full ml-2">
                                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                        <svg aria-hidden="true" class="w-5 h-5 text-secondary-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                    <input type="text" id="simple-value-search" class="bg-secondary-100 border border-secondary-300 text-secondary-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2"
                                           placeholder="@T["Languages.Resources.SearchByValue"]"
                                           required=""
                                           value="@SearchResourceValue"
                                           @onchange="OnSearchResourceValueChanged">
                                </div>
                            </div>
                        </div>
                        <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                            @if (AvailablePageSizes is not null)
                            {
                                var pageSizes = AvailablePageSizes.Split(new[] { ',', ' ' }, StringSplitOptions.RemoveEmptyEntries);
                                var pageSizeOptions = new List<SelectListItem>();
                                if (pageSizes.Any())
                                {
                                    if (PageSize <= 0 || !pageSizes.Contains(PageSize.ToString()))
                                    {
                                        if (int.TryParse(pageSizes.FirstOrDefault(), out var temp))
                                        {
                                            if (temp > 0)
                                                PageSize = temp;
                                        }
                                    }
                                    foreach (var pageSize in pageSizes)
                                    {
                                        if (!int.TryParse(pageSize, out var temp))
                                            continue;

                                        if (temp <= 0)
                                            continue;

                                        pageSizeOptions.Add(new SelectListItem() { Text = pageSize, Value = pageSize });
                                    }
                                    if (pageSizeOptions.Any())
                                    {
                                        pageSizeOptions = pageSizeOptions.OrderBy(x => int.Parse(x.Value)).ToList();

                                        if (PageSize <= 0)
                                        {
                                            PageSize = int.Parse(pageSizeOptions.First().Value);
                                        }
                                        <select value="@PageSize" @onchange="OnPageSizeChanged" class="w-full md:w-auto items-center justify-center py-2 pr-8 text-sm font-medium text-secondary-900 focus:outline-none bg-white rounded-lg border border-secondary-300 hover:bg-secondary-100 hover:text-primary-700 focus:z-10">
                                            @foreach (var pageSizeOption in pageSizeOptions)
                                            {
                                                <option value="@pageSizeOption.Value">
                                                    @pageSizeOption.Text
                                                </option>
                                            }
                                        </select>
                                    }
                                }
                            }
                            <div class="flex items-center space-x-3 w-full md:w-auto">
                                <button class="relative inline-flex items-center rounded-md border border-secondary-300 bg-white px-4 py-2 text-sm font-medium text-secondary-700 hover:bg-secondary-200 hover:text-primary-700 focus:z-20" @onclick=@(async () => await ReloadAsync()) disabled="@Busy">
                                    <span class="sr-only">@T["Common.Refresh"]</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-1 mr-2 h-5 w-5 text-secondary-500">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                                    </svg>
                                    @T["Common.Refresh"]
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="overflow-x-auto">
                        @if (LocaleResources.Data.Count() <= 0)
                        {
                            <div class="flex p-4 bg-warning-200 border-t-4 border-warning-500 text-warning-700" role="alert">
                                <svg class="flex-shrink-0 w-5 h-5 text-warning-700 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                                </svg>
                                <div class="ml-3 text-sm font-medium">
                                    @T["Languages.Resources.NoResourcesFound"]
                                </div>
                            </div>
                        }
                        else
                        {
                            <table class="w-full text-sm text-left text-secondary-500">
                                <thead class="text-xs text-secondary-700 uppercase bg-secondary-100">
                                    <tr>
                                        <th scope="col" class="px-4 py-3">@T["Languages.Resources.Fields.Name"]</th>
                                        <th scope="col" class="px-4 py-3">@T["Languages.Resources.Fields.Value"]</th>
                                        <th scope="col" class="px-4 py-3">
                                            <span class="sr-only">Actions</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var resource in LocaleResources.Data)
                                    {
                                        @if (resource.IsEditMode is true)
                                        {
                                            <tr class="border-b text-secondary-900">
                                                <td colspan="3">
                                                    <UpdateResourceForm Busy="@Busy"
                                                                        LocaleResourceModel="@resource"
                                                                        IsAdd="false"
                                                                        @bind-EditMode="@resource.IsEditMode"
                                                                        ValidationResult="@(async (args) => await ResourceUpdateAsync(args.Success,args.ContinueEditing,resource))" />
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr class="border-b">
                                                <th scope="row" class="px-4 py-3 font-medium text-secondary-900 whitespace-nowrap">@resource.ResourceName</th>
                                                <td class="px-4 py-3">@resource.ResourceValue</td>
                                                <td class="px-4 py-3">@resource.IsEditMode</td>
                                                <td class="px-4 py-3 flex items-center justify-end">
                                                    <button @onclick="@(e => resource.IsEditMode = true)" disabled="@Busy" class="inline-flex items-center rounded-md bg-white px-4 py-2 text-sm font-semibold text-secondary-900 shadow-sm ring-1 ring-inset ring-secondary-300 hover:bg-secondary-200" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="-ml-0.5 mr-1.5 h-5 w-5 text-secondary-400">
                                                            <path d="M5.433 13.917l1.262-3.155A4 4 0 017.58 9.42l6.92-6.918a2.121 2.121 0 013 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 01-.65-.65z" />
                                                            <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0010 3H4.75A2.75 2.75 0 002 5.75v9.5A2.75 2.75 0 004.75 18h9.5A2.75 2.75 0 0017 15.25V10a.75.75 0 00-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5z" />
                                                        </svg>
                                                        @T["Common.Edit"]
                                                    </button>
                                                    <button type="button" disabled="@Busy" class="ml-3 inline-flex items-center rounded-md border border-transparent bg-error-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-error-700" @onclick="@(async () => await ResourceDelete(resource.Id))">
                                                        @if (Busy)
                                                        {
                                                            <svg class="animate-spin -ml-1 mr-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                                                            </svg>
                                                            @T["Common.Busy"]
                                                        }
                                                        else
                                                        {
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-1 mr-3 h-5 w-5">
                                                                <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                            </svg>
                                                            @T["Common.Delete"]
                                                        }
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <Pager @bind-PageNumber="Page" PageSize="PageSize" TotalItems="LocaleResources.RecordsTotal" RefreshRequestedHandler="async() => { await ReloadAsync(); }" />
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>